Package: xibo-player
Version: 1.8-R7
Section: graphics
Priority: optional
Architecture: ARCH_PLACEHOLDER
Essential: no
Depends: libcrypto++6, libboost-date-time1.71.0 | libboost-date-time1.74.0, libboost-filesystem1.71.0 | libboost-filesystem1.74.0, libboost-program-options1.71.0 | libboost-program-options1.74.0, libboost-thread1.71.0 | libboost-thread1.74.0, libglu1-mesa, freeglut3, libzmq5, libgtkmm-3.0-1v5, libcanberra-gtk3-module, libwebkit2gtk-4.0-37, libgpm2, libslang2, gstreamer1.0-plugins-good, gstreamer1.0-plugins-base, gstreamer1.0-gl, gstreamer1.0-libav, gstreamer1.0-gtk3, libspdlog1, libsqlite3-0
Maintainer: Xibo Team <info@xibo.org.uk>
Description: Xibo Linux Digital Signage Player
 Xibo for Linux is a digital signage player application that connects to
 a Xibo CMS to display dynamic content including images, videos, web pages,
 and other multimedia content on digital signage displays.
 .
 This package includes the main player application, options configurator,
 and watchdog process for reliable operation.
Homepage: https://xibo.org.uk
